.demo_section {
    height: 527px;
    padding: 40px;

    &__inner {
        display: flex;
        align-items: center;
        background-color: #ebf0fa;
        height: 100%;
        width: 100%;
        border-radius: 10px;
        overflow: hidden;

        & > div {
            flex: 1;
        }
    }

    .article__inner {
        max-width: 538px;
        padding: 72px;

        & > h2 {
            font-size: 30px;
            color: #1f4284;
        }
        & > p {
            font-size: 17px;
            color: #727272;
            margin: 0 0 30px 0;
        }
    }

    .article__button {
        max-width: 305px;
        height: 68px;
        font-size: 18px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 12px 0 24px;

        background-color: #244c98;
        color: white;

        cursor: pointer;

        & > p {
            margin: 0;
        }

        border-radius: 60px;
        & > div {
            background-color: white;
            margin-left: 5px;
            padding: 10px;

            border-radius: 40px;

            display: flex;
            align-items: center;
            justify-content: center;

            & > img {
                width: 24px;
                height: 24px;
            }
        }
    }

    &__photo {
        height: 100%;
        width: 100%;
        & > img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

@media screen and (max-width: 1440px) {
    .article__inner {
        padding: 60px !important;
        & > h2 {
            font-size: 24px !important;
        }
        & > p {
            font-size: 17px;
        }
    }
}

@media screen and (max-width: 768px) {
    .demo_section__inner {
        flex-direction: column !important;
        height: auto;
    }

    .article__inner {
        padding: 20px !important;
        & > h2 {
            font-size: 20px !important;
        }
        & > p {
            font-size: 15px !important;
        }
    }

    .article__button {
        height: 50px !important;
        font-size: 15px !important;
        & > div {
            border-radius: 40px;

            display: flex;
            align-items: center;
            justify-content: center;

            & > img {
                width: 18px !important;
                height: 18px !important;
            }
        }
    }
}
